* {
    box-sizing: border-box;
}
.cell {
    width: 40px;
    height: 40px;
    border: 2px #000000 solid;
    display:flex;
    justify-content: center;
    align-items: center;

}

#tbody {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
#table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.right {
    border-right: none;
}
.left {
    border-left: none;
}
.bottom {
    border-bottom: none;
}
.top {
    border-top: none;
}