* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}
.cell {
    width: 40px;
    height: 40px;
    border: 1px #000000 solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #7A4AE3;
}
#tbody {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* #table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.right {
    border-right: none;
}
.left {
    border-left: none;
}
.bottom {
    border-bottom: none;
}
.top {
    border-top: none;
}